<div class="row">
  <div ng-class="expanded ? '12u' : '6u 12u(mobile)'">
  
     <i ng-class="expanded ? 'icon fa-minus' : 'icon fa-plus'" ng-click="expanded=!expanded;"></i>
     
     <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Bar">
          <md-content class="md-padding">

              <canvas id="bar" class="chart chart-bar"
                chart-data="data" chart-labels="labels" chart-series="series" chart-colors="colors">
              </canvas>
          </md-content>
        </md-tab>

        <md-tab label="Line">
          <md-content class="md-padding">

            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick" chart-colors="colors"></canvas>
          </md-content>
        </md-tab>

        <md-tab label="Pie">
          <md-content class="md-padding">

            <canvas id="pie" class="chart chart-pie"
              chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-colors="colors">
            </canvas>
          </md-content>
        </md-tab>

        <md-tab label="Donut">
          <md-content class="md-padding">

            <canvas id="doughnut" class="chart chart-doughnut"
                chart-data="data" chart-labels="labels" chart-series="series" chart-colors="colors">
            </canvas>
          </md-content>
        </md-tab>

        <md-tab label="Radar">
          <md-content class="md-padding">

            <canvas id="radar" class="chart chart-radar"
              chart-data="data" chart-options="options" chart-labels="labels" chart-series="series" chart-colors="colors">
            </canvas>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
    <h4 class="centered">Age</h4>
  </div>
  <div ng-class="expanded ? '12u' : '6u 12u(mobile)'">
    

    <div class="row bordered">
        <div class="3u centered no-padding">
            <i class="icon fa-globe"></i>
            <br>Country
        </div>
        <div class="3u centered">
            <i class="icon fa-user"></i>
            <br>Population
        </div>
        <div class="3u centered">
            <i class="icon fa-map"></i>
            <br>Area
        </div>
        <div class="3u centered">
            <i class="icon fa-flag"></i>
            <br>Capital
        </div>
    </div>

    <div class="row bordered" ng-repeat="thisData in dataDetails">
        
        <div class="3u centered no-padding">
            <div class="row">
              
                
              
              <div class="12u no-padding">
                <i class="fa fa-close" ng-click="removeCountry(thisData.name)"></i>
                {{thisData.name}}
              
                <p style="background-color:{{colors[$index*2]}}">
                  Males
                </p>
                <p style="background-color:{{colors[$index*2+1]}}">
                  Females
                </p>
              </div>
              
            </div>
        </div>
        <div class="3u centered">
            {{thisData.population.toLocaleString()}} people
        </div>
        <div class="3u centered">
            {{thisData.area.toLocaleString()}} km2
        </div>
        <div class="3u centered">
            <span>{{thisData.capital}}</span>
        </div>
      
        
  
    </div>
  </div>
</div>
