<div class="row bordered">
        <div class="col-xs-4 col-sm-3 centered">
            <i class="icon fa-globe"></i>
            <br>Country
        </div>
        <div class="col-xs-4 col-sm-3 centered">
            <i class="icon fa-user"></i>
            <br>Population
        </div>
        <div class="col-xs-4 col-sm-3 centered">
            <i class="icon fa-map"></i>
            <br>Area
        </div>
        <div class="hidden-xs col-sm-3 centered">
            <i class="icon fa-flag"></i>
            <br>Capital
        </div>
    </div>

    <div class="row bordered" ng-repeat="thisData in dataDetails">
        
      <div class="col-xs-4 col-sm-3 centered">
            
            <div class="12u no-padding">
              <i class="icon pull-left" ng-mouseover="hovered=true" ng-mouseleave="hovered=false" ng-class="hovered ? 'fa fa-times-circle-o' : 'fa fa-times-circle'" ng-click="removeCountry($index)"></i>
              <span class="infoText">{{thisData.name}}</span>
            
              
            </div>
            
          
      </div>
      <div class="col-xs-4 col-sm-3 centered">
          {{thisData.population.toLocaleString()}}
      </div>
      <div class="col-xs-4 col-sm-3 centered">
          {{thisData.area.toLocaleString()}}
          <span ng-if="thisData.area != notFoundMessage">km2</span>
      </div>
      <div class="hidden-xs col-sm-3 centered">
          <span>{{thisData.capital}}</span>
      </div>
    
      <div class="col-xs-12 no-padding">
        <div class="col-xs-6 padding-0">
          <div class="gender padding-0 margin-0 centered full-width">
            <p class="padding-5" style="background-color:{{colors[$index*2]}}">
                  Males ({{popTotals[$index].males}}%)
                </p>
                
          </div>
        </div>
        <div class="col-xs-6 padding-0">
          <div class="gender padding-0 margin-0 centered full-width">
           
                <p class="padding-5" style="background-color:{{colors[$index*2+1]}}">
                  Females ({{popTotals[$index].females}}%)
                </p>
          </div>
        </div>
      </div>
     
    </div>