<!-- Footer -->
  <div id="footer-wrapper" class="wrapper">
    <div class="title"><h3 class="icon fa-info"></h3></div>
    <div id="footer" class="container">
      <header class="style1">
        <h2>Say Hello</h2>
        <p>
          Don't be shy.
        </p>
      </header>
      <hr />
      <div class="row 150%">
        <!-- <div class="6u 12u(mobile)"> -->

          <!-- Contact Form -->
            <!-- <section>
              <form method="post" action="#">
                <div class="row 50%">
                  <div class="6u 12u(mobile)">
                    <input type="text" name="name" id="contact-name" placeholder="Name" />
                  </div>
                  <div class="6u 12u(mobile)">
                    <input type="text" name="email" id="contact-email" placeholder="Email" />
                  </div>
                </div>
                <div class="row 50%">
                  <div class="12u">
                    <textarea name="message" id="contact-message" placeholder="Message" rows="4"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="12u">
                    <ul class="actions">
                      <li><input type="submit" class="style1" value="Send" /></li>
                      <li><input type="reset" class="style3" value="Reset" /></li>
                    </ul>
                  </div>
                </div>
              </form>
            </section> -->
            
          
        <!-- </div> -->
        <div class="12u">

        <h3>The real danger is not that computers will begin to think like men, but that men will begin to think like computers. – Sydney Harris (Journalist)</h3>
        </div>

      </div>
      <hr />
      <div class="row">


        <div class="3u">
          <a href="https://twitter.com/slickwebstudio"><h3 class="icon fa-twitter"></h3></a>
        </div>
        <div class="3u">
          <a href="https://github.com/josedelavalle"><h3 class="icon fa-github"></h3></a>
        </div>
        <div class="3u">
          <a href="https://www.linkedin.com/in/jose-delavalle-49aa7411a"><h3 class="icon fa-linkedin"></h3></a>
        </div>
        <div class="3u">
          <a href="http://codepen.io/josedelavalle/"><h3 class="icon fa-codepen"></h3></a>
        </div>
      </div>
    </div>
  </div>
