<!-- Gallery -->
  <div class="wrapper style3">
    <div class="title"><h3 class="icon fa-archive"></h3></div>
    <div id="gallery" class="container">



      <div class="row 150%">
        <div class="4u 12u(mobile)">
          <div class="highlight">
            <a href="{{$parent.myLinks[0]}}" class="image featured"><img src="images/Tech.png" alt="" /></a>
            <h3><a href="{{$parent.myLinks[0]}}">Angular Photo Gallery</a></h3>
            <p>This AngularJS web app makes HTTP request to query Google's API for the latitude and longitude of a user's entered location. Coordinates are then passed to Flickr's API to retrieve photos from desired location. Alternative searches filter by a photo's tags and text.</p>
            <ul class="actions">
              <li><a href="{{$parent.myLinks[0]}}" class="button style1">Check it out</a></li>
            </ul>
          </div>
        </div>
        <div class="4u 12u(mobile)">
          <section class="highlight">
            <a href="{{$parent.myLinks[1]}}" class="image featured"><img src="images/evo.png" alt="" /></a>
            <h3><a href="{{$parent.myLinks[1]}}">Angular Internet News</a></h3>
            <p>Get all your news here.  Choose your favorite source and view the latest news stories of the day from one place.</p>
            <ul class="actions">
              <li><a href="{{$parent.myLinks[1]}}" class="button style1">Check it out</a></li>
            </ul>
          </section>
        </div>
        <div class="4u 12u(mobile)">
          <section class="highlight">
            <a href="{{$parent.myLinks[2]}}" class="image featured"><img src="images/home.png" alt="" /></a>
            <h3><a href="{{$parent.myLinks[2]}}">Online Portfolio</a></h3>
            <p>Learn more about me, what I do, and who I am.  Please feel free to drop a line.  Comments and suggestions are always welcome.</p>
            <ul class="actions">
              <li><a href="{{$parent.myLinks[2]}}" class="button style1">Check it out</a></li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
