<!-- Gallery -->
  <div class="wrapper style2">
    <div class="title"><h3 class="icon fa-archive"></h3></div>
    <div id="gallery" class="container">


      <div class="row 150%">
        <div class="4u 12u(mobile)">
          <section class="highlight">
            <a href="#" class="image featured"><img src="images/Tech.png" alt="" /></a>
            <h3><a href="#">Angular Photo Gallery</a></h3>
            <p>This AngularJS web app makes HTTP request to query Google's API for the latitude and longitude of a user's entered location. Coordinates are then passed to Flickr's API to retrieve photos from desired location. Alternative searches filter by a photo's tags and text.</p>
            <ul class="actions">
              <li><a href="#" class="button style1">Learn More</a></li>
            </ul>
          </section>
        </div>
        <div class="4u 12u(mobile)">
          <section class="highlight">
            <a href="#" class="image featured"><img src="images/home.png" alt="" /></a>
            <h3><a href="#">Nisl adipiscing sed lorem</a></h3>
            <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
            <ul class="actions">
              <li><a href="#" class="button style1">Learn More</a></li>
            </ul>
          </section>
        </div>
        <div class="4u 12u(mobile)">
          <section class="highlight">
            <a href="#" class="image featured"><img src="images/evo.png" alt="" /></a>
            <h3><a href="#">Mattis tempus lorem</a></h3>
            <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
            <ul class="actions">
              <li><a href="#" class="button style1">Learn More</a></li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
