<!-- Highlights -->
  <div class="wrapper style3">
    <div class="title"><h3 class="icon fa-info"></h3></div>
    <div id="highlights" class="container">
      <!-- Features -->
      <section id="features" ng-repeat="thisData in $parent.dataDetails">
        <h2>{{thisData.name}}</h2>
        <div class="feature-list">
          <div class="row">
            <div class="4u 12u(mobile)">
              <section>
                <h3 class="icon fa-flag">Capital - {{thisData.capital}}</h3>
                <p></p>
              </section>
            </div>
            <div class="4u 12u(mobile)">
              <section>
                <h3 class="icon fa-user">Population</h3>
                <p>{{thisData.population}} people</p>
              </section>
            </div>
            <div class="4u 12u(mobile)">
              <section>
                <h3 class="icon fa-map">Area</h3></h3>
                <p>
                  {{thisData.area}} km2
                </p>
              </section>
            </div>

          </div>
          <div class="row">
            <div class="4u 12u(mobile)">
              <section>
                <h3 class="icon fa-clock-o">Timezones</h3>

                  <p ng-repeat="thisTime in thisData.timezones">
                    {{thisTime}}
                  </p>

              </section>
            </div>
            <div class="4u 12u(mobile)">
              <section>
                <h3 class="icon fa-dollar">Currency</h3>
                <p ng-repeat="thisCurrency in thisData.currencies">
                  {{thisCurrency}}
                </p>
              </section>
            </div>
            <div class="4u 12u(mobile)">
              <section>
                <h3 class="icon fa-globe">Region</h3>
                <p>{{thisData.region}}&nbsp;({{thisData.subregion}})</p>
              </section>
            </div>
          </div>
        </div>
        <!-- <ul class="actions actions-centered">
          <li><a href="#" class="button style1 big">Get Started</a></li>
          <li><a href="#" class="button style2 big">More Info</a></li>
        </ul> -->

      </section>


    </div>
  </div>
