<!-- Intro -->
  <div id="intro-wrapper" class="wrapper style1">
    
    <section id="intro" class="container">
      <!-- <p class="style1">Add a country to graph</p> -->
      <md-input-container class="country-typeahead md-block" flex-gt-sm>
            <i class="fa fa-arrow-down"></i>
            <label>Country</label>
            <input type="text" ng-placeholder="Enter Country" id="listCountries" ng-model="selected"
      uib-typeahead="thisCountry for thisCountry in country.countries | filter:$viewValue:emptyOrMatch"
      typeahead-focus typeahead-on-select="countrySelected()">
          </md-input-container>
      

      <!-- p class="style3"></p>
      <ul class="actions">
        <li><a href="#" class="button style3 big" ng-click="countrySelected()">Add</a></li>
      </ul> -->

      <div id="countriesShown">
				<button type="button" ng-repeat="thisCountry in allShownCountries" class="btn btn-danger" ng-click="removeCountry()" ng-bind="thisCountry"></button>
			</div>
    </section>
  </div>
