
<!-- <div ng-include="'partials/intro.html'"></div> -->
<!-- Main -->
<div class="wrapper style2">
  <div class="title">

  	<md-input-container class="md-block" flex-gt-sm ng-if="allShownCountries.length < 5" >
        
        <input type="text" id="listCountries" placeholder="Enter Country Here" ng-model="selected"
     	 	uib-typeahead="thisCountry for thisCountry in country.countries | filter:$viewValue:emptyOrMatch | orderBy: thisCountry" typeahead-focus typeahead-on-select="hideKeyboard();countrySelected();">
        
    </md-input-container>
    <div ng-if="allShownCountries.length >= 5">
		<h4>Max Reached</h4>
		<i class="icon fa-trash fa-2x" ng-click="removeAllCountries()"></i>
    </div> 
  </div>
  <div id="main" class="container">

    <h2>{{pageTitle}}</h2><hr>

    
    <div ng-include="'partials/chart.html'"></div>

  </div>
</div>
<!-- <div ng-include="'partials/highlights.html'"></div> -->
<div ng-include="'partials/gallery.html'"></div>
