
<div ng-include="'partials/intro.html'"></div>
<!-- Main -->
<div class="wrapper style2">
	<div class="title"><h3 class="icon fa-area-chart"></h3></div>
	<div id="main" class="container">

		<!-- Content -->
			<div id="content">
				<article class="box post">
					<header class="style1">
						<h2>{{pageTitle}}</h2>
						<p>{{subTitle}}</p>
					</header>
					<div ng-include="'../partials/chart.html'"></div>

				</article>
			
			</div>

	</div>
</div>
<div ng-include="'partials/highlights.html'"></div>
