
<div ng-include="'partials/intro.html'"></div>
<!-- Main -->
<div class="wrapper style2">
	<div class="title"><h3 class="icon fa-area-chart"></h3></div>
	<div id="main" class="container">
		<div class="row 150%">
			<div class="8u 12u(mobile)">

				<!-- Content -->
					<div id="content">
						<article class="box post">
							<header class="style1">
								<h1>{{pageTitle}}</h1>
								<p>{{subTitle}}</p>
							</header>
							<div ng-include="'../partials/chart.html'"></div>
						</article>
					</div>

			</div>
			<div class="4u 12u(mobile)">
				<section class="box">
					<header class="style1">
						<h1>Countries</h1>
					</header>
				</section>
				<!-- Sidebar -->
					<div id="sidebar">{{$scope.dataDetails}}
						<section class="box" ng-repeat="thisData in dataDetails">
							<header>
								<h2>{{thisData.name}}</h2>
							</header>
							<p>{{thisData.name}} is a country located in {{thisData.subregion}} with a land mass of {{thisData.area}}.
							Its capital city is {{thisData.capital}} and it has a total population of {{thisData.population}}.</p>
							<a href="#" class="btn btn-danger">Learn More</a>
						</section>




					</div>

			</div>
		</div>
	</div>
</div>
<div ng-include="'partials/highlights.html'"></div>
