<div class="wrapper style2">
	<div ng-include="'partials/search.html'"></div>

	<div id="main" class="container">
		<h2>{{pageTitle}}</h2>
		<div class="row 150%">
			<div class="8u 12u(mobile)">
				<div id="content">
					<article class="box post">
						<div ng-include="'partials/chart.html'"></div>
					</article>
				</div>
			</div>
			<div class="4u 12u(mobile)">
				<div ng-include="'partials/sidebar.html'"></div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'partials/map.html'"></div>
<div ng-include="'partials/gallery.html'"></div>
